ul.ko-pager {
  float: right;
  height: 24px;
  margin-bottom: 4px;
}
ul.ko-pager > li {
  display: inline-block;
  font-size: 14px;
}
ul.ko-pager > li.pager-input {
  font-size: 13px;
  margin: 4px 0;
  color: #777;
  border: solid 1px #aaa;
  background-color: white;
  padding: 0 2px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
ul.ko-pager > li.pager-input input {
  width: 35px;
  text-align: right;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0 2px;
  vertical-align: baseline;
}
ul.ko-pager > li.pager-summary {
  color: #888;
  margin-right: 10px;
}
ul.ko-pager > li.btn {
  margin-top: -2px;
  cursor: pointer;
  color: #428bca;
}
ul.ko-pager > li.btn > i {
  margin: 0 1px;
}
ul.ko-pager > li.btn:hover {
  background-color: #ddd;
}
